<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536783938998-rcfe7p8vjrq3gink8kn40r1p12mnq9qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536783938998-rcfe7p8vjrq3gink8kn40r1p12mnq9qi</string>
	<key>API_KEY</key>
	<string>AIzaSyA1jiNgTNN0vqaAJ6FqeRVQrKLuJZ1i7lg</string>
	<key>GCM_SENDER_ID</key>
	<string>536783938998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.vba.VBAWellnessApp</string>
	<key>PROJECT_ID</key>
	<string>vbawellness-a43e9</string>
	<key>STORAGE_BUCKET</key>
	<string>vbawellness-a43e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536783938998:ios:20516303a8feb3ce6d4d17</string>
	<key>DATABASE_URL</key>
	<string>https://vbawellness-a43e9-default-rtdb.firebaseio.com</string>
</dict>
</plist>